.ant-layout-content {
  background-color: #fff;
}

.section-hero-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-position: center;
  background-size: cover;

  .form-horizontal-item {
    margin-top: -50px;
  }
}

.section-popular-item {
  padding-top: 120px;

  .popular-item-header {
    margin-bottom: 60px;
  }
}

.section-breadcrumb-item {
  background: linear-gradient(90deg, rgba(245, 197, 24, 0.26) 22.24%, rgba(251, 247, 252, 0) 100%);
}

.section-form-item {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-list-item {
  h3 {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: $screen-lg) {

  .section-hero-item {
    height: 550px;

    .hero-el {
      padding-top: 130px;
      height: 550px;
    }
  }
}
