.ant-input-affix-wrapper {
  background-color: $grey !important;
  border-color: transparent !important;
  height: 3.25rem !important;
  padding: 10px !important;
  border-radius: 8px !important;
}

.ant-input {
  background-color: $grey !important;
}
